<div id="search" class="row align-items-center">
	<form (ngSubmit)="onSubmit()" style="width:100%">
		<h3>Injest Employees</h3>
		<div class="form-group">
			<div>
				<label>If importing for the first time, please <a href="../../../assets/Employees.csv">Download</a> the template file and populate the data to import the same.</label>
			</div>
			<!-- <label for="file">Import the list</label> -->
			<input type="file" id="file" (change)="handleFileInput($event.target.files)">
		</div>
		<label>{{message}}</label>
		<a routerLink="/employees" class="btn btn-primary active" role="button" routerLinkActive="active" *ngIf="enableNavigation">View Employees</a>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
</div>