.form-control {
    color: red;
    width: 100px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.col{
    padding-left: 0px;
    padding-right: 0px;
   
}
.left{
    text-align: left;
}