<div class="container-fluid">
	<div style="color: blue;">
		<h1>{{title}}</h1>
		<h3>{{description}}</h3>
	</div>

	<nav>
		<a routerLink="injest" class="btn btn-primary active" role="button" routerLinkActive="active">Injest Employees</a>
		<a routerLink="allemployees" class="btn btn-primary active" role="button" routerLinkActive="active">All Employees</a>
		<a routerLink="employees" class="btn btn-primary active" role="button" routerLinkActive="active">Employees</a>
		<a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
		<a routerLink="search" class="btn btn-primary active" role="button" routerLinkActive="active">Search by ID</a>
	
	</nav>
	<router-outlet></router-outlet>
	<router-outlet name="results"></router-outlet>
</div>


