<div id="createOrEditEmployee" [hidden]="mode==3">
<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 300px;">
	<form (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="firstName">First Name</label> <input type="text"
				class="form-control" id="firstName" required [(ngModel)]="employee.firstName"
				name="firstName">
		</div>
		<div class="form-group">
			<label for="middleInitial">Middle Initial</label> <input type="text"
				class="form-control" id="middleInitial" required [(ngModel)]="employee.middleInitial"
				name="middleInitial">
		</div>
		<div class="form-group">
			<label for="lastName">Last Name</label> <input type="text"
				class="form-control" id="lastName" required [(ngModel)]="employee.lastName"
				name="lastName">
		</div>
		<div class="form-group">
			<label for="dateOfBirth">Date of Birth</label> <input type="date"
				class="form-control" id="dateOfBirth" required [(ngModel)]="employee.dateOfBirth"
				name="dateOfBirth" value="{{employee.dateOfBirth}}">
		</div>

		<div class="form-group">
			<label for="dateOfEmployment">Date Of Employement</label> <input type="date"
				class="form-control" id="dateOfEmployment" required [(ngModel)]="employee.dateOfEmployment"
				name="dateOfEmployment" value={{employee.dateOfEmployment}}>
		</div>
		<!--
		<div class="form-group">
			<label for="status">Active</label> <input type="checkbox"
				class="form-control" id="status" required [(ngModel)]="employee.status"
				name="status">
		</div>
		-->
		<button type="submit" *ngIf='mode==2' class="btn btn-success">Update</button>
		<button type="submit" *ngIf='mode==1' class="btn btn-success">Submit</button>
		<button type="button" *ngIf='mode==1' class="btn btn-primary" (click)="cancel()">Cancel</button>
		
	</form>
</div>
	<div [hidden]="!submitted" *ngIf='mode==1'>
		<h4>You submitted successfully!</h4>
		<button class="btn btn-success" (click)="newEmployee()">Add</button>
	</div>	
</div>